@import "tailwindcss";
@import "./components.css";
@import "./utilities.css";



@theme {
  /* ============================ */
  /* ## Colors                    */
  /* ============================ */
  --color-background: #FAFDFF;
  --color-foreground: #575757;
  --color-light-foreground: #9b9b9b;
  --color-primary: #5aafff;
  --color-light-primary: #baddfd;
  --color-secondary: #04a9ca;
  --color-light-secondary: #9ae9f9;
  --color-danger: #f3777a;
  --color-light-danger: #fececf;
  --color-warning: #f57e2c;
  --color-light-warning: #ffd7bc;
  --color-success: #69c9ca;
  --color-light-success: #9af8f9;
  --color-disable: #c4c3c3;
  --color-light-disable: #f4f4f4;
  --color-stroke: #e2e8f0;
  --color-light-stroke: #f1f5f9;


  /* ============================ */
  /* ## Animates                  */
  /* ============================ */
  --animate-intro-fade: intro_fade 0.1s ease-in-out forwards;
  @keyframes intro_fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  --animate-intro-right: intro_right 0.1s ease-in-out;
  @keyframes intro_right {
    from {
      transform: translateX(100);
      opacity: 0;
    }
  }

  --animate-intro-left: intro_left 0.1s ease-in-out;
  @keyframes intro_left {
    from {
      transform: translateX(-100);
      opacity: 0;
    }
  }

  --animate-intro-down: intro_down 0.1s ease-in-out;
  @keyframes intro_down {
    from {
      transform: translateY(-100);
      opacity: 0;
    }
  }

  --animate-intro-up: intro_up 0.1s ease-in-out;
  @keyframes intro_up {
    from {
      transform: translateY(100);
      opacity: 0;
    }
  }


}



@layer base {
  /* ============================ */
  /* ## Body default style        */
  /* ============================ */
  body {
    @apply bg-background text-foreground max-w-full overflow-x-hidden font-normal;
  }


  /* ============================ */
  /* ## All default style         */
  /* ============================ */
  * {
    @apply transition duration-75 border-stroke;
  }
}

